<!-- Hero Section -->
<swiper-container class="hero-section" #swiperElement init="false">
  @for (slide of categories(); track slide) {
  <swiper-slide class="hero-slide">
    <div
      class="hero-image"
      [style]="{
          'background-image': 'url(' + slide.image + ')',
        }"
    ></div>
    <div class="hero-text">
      <h2 class="main-title">
        @for (desc of slide.description?.split(' '); track desc) {
        <span [class.text-outline-light]="$index % 2 != 0 && desc.length < 5">
          {{ desc }}
        </span>
        }
      </h2>
      <p class="subtitle">{{ slide.additionalInfo }}</p>
      <!-- From Uiverse.io by vinodjangid07 -->
      <button class="shop-button bg-white">
        <mat-icon
          svgIcon="explore"
          aria-hidden="false"
          aria-label="explore-icon"
          class="svgIcon"
        />
        Explorar
      </button>
    </div>
  </swiper-slide>
  }
</swiper-container>
